/.fseventsd
/.metadata_never_index
/.Trashes
/.Trash-1000
/test.py
/System Volume Information
/.vscode
/img
/code.py
/num.py
/module/dessin.py
/module/draw_logo.py
/boot_out.txt
/.gitignore
/settings.toml